<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8294537978-e9g0mkdqjopd5ef7btea0l7guqfvrvim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8294537978-e9g0mkdqjopd5ef7btea0l7guqfvrvim</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>8294537978-500vqqifk3d94f1tb0vbtahsvli4k4an.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA7JoG5Y_UNMFSlR_1zCEvpZkjMgAAOezo</string>
	<key>GCM_SENDER_ID</key>
	<string>8294537978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ratioplusplus.genielicious</string>
	<key>PROJECT_ID</key>
	<string>genielicious-1229a</string>
	<key>STORAGE_BUCKET</key>
	<string>genielicious-1229a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8294537978:ios:193792e393460a3930c743</string>
	<key>DATABASE_URL</key>
	<string>https://genielicious-1229a-default-rtdb.firebaseio.com</string>
</dict>
</plist>